site_name: ZipponDB Documentation
site_url: https://MrBounty.github.io/ZipponDB/
repo_url: https://github.com/MrBounty/ZipponDB
theme:
  name: material
  logo: images/banner.png
  features:
    - search.suggest
    - navigation.tabs  # Makes navigation collapsible, but keeps sections open
    - navigation.sections  # Enable collapsible sections within the sidebar
    - navigation.expand
    - navigation.top
    - content.code.annotate
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: lime
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: lime
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      use_pygments: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
plugins:
  - glightbox
  - search

nav:
  - Home: index.md
  - Using ZipponDB:
    - Quickstart: Quickstart.md
    - Schema: Schema.md
    - ZipponQL: ZiQL.md
    - Data types: Data type.md
    - Command Line Interface: cli.md
  - Under the Hood:
    - Benchmark: Benchmark.md
    - Technical: Technical docs.md
    - ZipponData: ZipponData.md
    - About: about.md
    - Roadmap: Roadmap.md
